---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Los4Automaticos - Módulo 1: Automatización e Industria 4.0" description="Explora el Módulo 1 de Los4Automaticos, donde se desarrollan diagramas de instrumentación del proceso, identificando sensores y actuadores clave, así como la arquitectura de control y sus comunicaciones. Integra tecnologías de Industria 4.0 como el gemelo digital y el IoT, además de averiguar una posibl;e implementación de un MES usando power BI.">
  <Header />
  <main>

    <HeroSection 
      title="Módulo 1: Automatización e Industria 4.0" 
      highlightText="Módulo 1:"
	  description="En este módulo se presentarán los diagramas de instrumentación de cada proceso, identificando  sus sensores y actuadores clave, así como la arquitectura de control y comunicaciones, incluyendo protocolos y niveles de automatización. El obejetivo es la integracióbn de tecnologías de Industria 4.0 como lo son la virtualización de fábrica, el IoT y el Cloud Computing, analizando su propósito e impacto mejorando los indicadores clave de desempeño (KPIs) de producción"
    />
    
    
  </main>
  <Footer />
</Layout>
