---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Los4Automaticos - Módulo 3: Planeación de Proyecto" description="Descubre cómo planificar y gestionar tu proyecto de manera efectiva con herramientas avanzadas como Bitrix24 y Microsoft Project. Aprende a actualizar cronogramas y adaptarte a cambios en las actividades.">
  <Header />
  <main>
    <HeroSection 
      title="Módulo 3: Planeación de Proyecto" 
      highlightText="Módulo 3:"
      description="Este módulo contempla la elaboración y actualización del cronograma del proyecto mediante herramientas de gestión. Se enfatiza el seguimiento continuo y la actualización del cronograma ante cualquier cambio en las actividades o entregables."
    />

    <section class="py-16 bg-white dark:bg-gray-800">
      <div class="container-custom">
        
        <div class="mb-24">
          <div class="text-center mb-12">
            <span class="inline-block px-4 py-1 rounded-full bg-secondary-100 dark:bg-secondary-900 text-secondary-600 dark:text-secondary-300 font-medium text-sm mb-4">
              Planeación del proyecto
            </span>
            <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-4">Estructura de Desglose del Trabajo</h2>
          </div>
          
          <div class="grid md:grid-cols-2 gap-8">
            <div class="card p-6 border border-gray-200 dark:border-gray-700 justify-center items-center">
              <div class="rounded-lg overflow-hidden shadow-xl border border-gray-200 dark:border-gray-700 mx-3 mb-4">
                <img src="https://imgur.com/r5AZPqj.png" alt="EDT_1" class="w-full h-auto" />
              </div>
            </div>
            
            <div class="card p-6 border border-gray-200 dark:border-gray-700">
              <div class="rounded-lg overflow-hidden shadow-xl border border-gray-200 dark:border-gray-700 mx-3 mb-4">
                <img src="https://imgur.com/vmzM5X8.png" alt="EDT_2" class="w-full h-auto" />
              </div>
            </div>
            
            <div class="card p-6 border border-gray-200 dark:border-gray-700">
              <div class="rounded-lg overflow-hidden shadow-xl border border-gray-200 dark:border-gray-700 mx-3 mb-4">
                <img src="https://imgur.com/EVbpfjQ.png" alt="EDT_3" class="w-full h-auto" />
              </div>
            </div>

            <div class="card p-6 border border-gray-200 dark:border-gray-700">
              <div class="rounded-lg overflow-hidden shadow-xl border border-gray-200 dark:border-gray-700 mx-3 mb-4">
                <img src="https://imgur.com/XJLwnSN.png" alt="EDT_4" class="w-full h-auto" />
              </div>
            </div>

            <div class="card p-6 border border-gray-200 dark:border-gray-700">
              <div class="rounded-lg overflow-hidden shadow-xl border border-gray-200 dark:border-gray-700 mx-3 mb-4">
                <img src="https://imgur.com/UTqTjw9.png" alt="EDT_5" class="w-full h-auto" />
              </div>
            </div>

            <div class="card p-6 border border-gray-200 dark:border-gray-700">
              <div class="rounded-lg overflow-hidden shadow-xl border border-gray-200 dark:border-gray-700 mx-3 mb-4">
                <img src="https://imgur.com/Nl1ow71.png" alt="EDT_6" class="w-full h-auto" />
              </div>
            </div>

            <div class="card p-6 border border-gray-200 dark:border-gray-700">
              <div class="rounded-lg overflow-hidden shadow-xl border border-gray-200 dark:border-gray-700 mx-3 mb-4">
                <img src="https://imgur.com/aIFiICV.png" alt="EDT_7" class="w-full h-auto" />
              </div>
            </div>

            <div class="card p-6 border border-gray-200 dark:border-gray-700">
              <div class="rounded-lg overflow-hidden shadow-xl border border-gray-200 dark:border-gray-700 mx-3 mb-4">
                <img src="https://imgur.com/FOce6or.png" alt="EDT_8" class="w-full h-auto" />
              </div>
            </div>

            <div class="card p-6 border border-gray-200 dark:border-gray-700">
              <div class="rounded-lg overflow-hidden shadow-xl border border-gray-200 dark:border-gray-700 mx-3 mb-4">
                <img src="https://imgur.com/q0tcuS4.png" alt="EDT_9" class="w-full h-auto" />
              </div>
            </div>

            <div class="card p-6 border border-gray-200 dark:border-gray-700">
              <div class="rounded-lg overflow-hidden shadow-xl border border-gray-200 dark:border-gray-700 mx-3 mb-4">
                <img src="https://imgur.com/dImjzgm.png" alt="EDT_10" class="w-full h-auto" />
              </div>
            </div>
          </div>
        </div>
        
    </section>
    
    <section class="py-16 bg-white dark:bg-gray-800">
      <div class="container-custom">

        <div class="text-center max-w-3xl mx-auto mb-8 md:mb-8 px-4">
          <span class="inline-block px-4 py-1 rounded-full bg-primary-100 dark:bg-primary-900 text-primary-600 dark:text-primary-300 font-medium text-sm mb-4">
            Progrmación del proyecto
          </span>
          <h2 class="text-2xl md:text-3xl mb-4 md:mb-6 text-gray-900 dark:text-white">Planeación de Proyecto</h2>
          <p class="text-gray-600 dark:text-gray-300">
            El cronograma se realizo con la herramienta github projects, donde se pueden ver las diferentes actividades. Se actualizo el cronograma de acuerdo a los cambios que se presentaron en las actividades y entregables.
          </p>
        </div>

        <div class="max-w-4xl mx-auto">

          <div class="rounded-lg overflow-hidden shadow-xl border border-gray-200 dark:border-gray-700">
            <img src="https://imgur.com/bSauv0y.png" alt="Comunicaciones_SCADA" class="w-full h-auto" />
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container-custom max-w-4xl">
        <div class="container-custom">

        <div class="text-center max-w-3xl mx-auto mb-2 md:mb-8 px-4">
          <span class="inline-block px-4 py-1 rounded-full bg-primary-100 dark:bg-primary-900 text-primary-600 dark:text-primary-300 font-medium text-sm mb-4">
            Módulo 3
          </span>
          <h2 class="text-2xl md:text-3xl mb-4 md:mb-2 text-gray-900 dark:text-white">Links</h2>
          <p class="text-gray-600 dark:text-gray-300">
            Documentación y recursos del módulo.
          </p>
        </div>

        <div class="max-w-4xl mx-auto">
          <h2 class="text-2xl font-bold mb-4">Ver página github project</h2>
          <a 
            href="https://github.com/orgs/APM-2025-1/projects/1"
            target="_blank"
            rel="noopener"
            class="inline-block bg-info-200 dark:bg-info-300 text-info-800 dark:text-info-900 px-6 py-3 rounded-lg shadow hover:bg-info-400 dark:hover:bg-info-600 transition">
            Abrir github project
          </a>

          <h2 class="text-2xl font-bold mb-4 mt-4">Ver documentación</h2>
          <a 
            href="https://github.com/APM-2025-1/M3_Planeacion_de_proyecto"
            target="_blank"
            rel="noopener"
            class="inline-block bg-info-200 dark:bg-info-300 text-info-800 dark:text-info-900 px-6 py-3 rounded-lg shadow hover:bg-info-400 dark:hover:bg-info-600 transition">
            Documentación del módulo en github
          </a>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>

