---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Mep Mep Raiders - Módulo 3: Planeación de Proyecto" description="Descubre cómo planificar y gestionar tu proyecto de manera efectiva con herramientas avanzadas como Bitrix24 y Microsoft Project. Aprende a actualizar cronogramas y adaptarte a cambios en las actividades.">
  <Header />
  <main>
    <HeroSection 
      title="Módulo 3: Planeación de Proyecto" 
      highlightText="Módulo 3:"
      description="Este módulo contempla la elaboración y actualización del cronograma del proyecto mediante herramientas de gestión como Bitrix24, Microsoft Project u otras plataformas de planeación. Se enfatiza el seguimiento continuo y la actualización del cronograma ante cualquier cambio en las actividades o entregables."
    />
    
    <section class="py-16 bg-white dark:bg-gray-800">
      <div class="container-custom">

        <div class="text-center max-w-3xl mx-auto mb-8 md:mb-16 px-4">
          <span class="inline-block px-4 py-1 rounded-full bg-primary-100 dark:bg-primary-900 text-primary-600 dark:text-primary-300 font-medium text-sm mb-4">
            Módulo 3
          </span>
          <h2 class="text-2xl md:text-3xl mb-4 md:mb-6 text-gray-900 dark:text-white">Planeación de Proyecto</h2>
          <p class="text-gray-600 dark:text-gray-300">
            Cronograma del proyecto.
          </p>
        </div>

        <div class="max-w-4xl mx-auto">

          <div class="rounded-lg overflow-hidden shadow-lg mb-8">
            <iframe 
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQXk6uho0ea_FIVg-KbNBpy9r8DUgTTdYpyqVyxRDFyaWYqQxHpaIGFGKkG6QspEQ/pubhtml?gid=1443228803&single=true" 
            width="100%" 
            height="720" 
            frameborder="0"
            title="Google Sheets Embed">
            </iframe>
          </div>

          <h2 class="text-2xl font-bold mb-4 mt-4">Ver hoja de cálculo</h2>
          <a 
            href="https://docs.google.com/spreadsheets/d/1K2gjEPPRTnQG0n0KgmUcXzyq-ExRU9oj/edit?usp=sharing"
            target="_blank"
            rel="noopener"
            class="inline-block bg-info-200 dark:bg-info-300 text-info-800 dark:text-info-900 px-6 py-3 rounded-lg shadow hover:bg-info-400 dark:hover:bg-info-600 transition">
            Abrir hoja de cálculo (Acceso con correo de dominio UNAL)
          </a>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>

