---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Los4Automaticos - Módulo 4: Evaluación Económica del Proyecto" description="Descubre cómo evaluar la viabilidad económica de tu proyecto con herramientas avanzadas en Excel. Aprende a calcular el presupuesto, costos, flujo de caja y los indicadores financieros clave como VPN, TIR y Payback.">
  <Header />
  <main>
    <HeroSection 
      title="Módulo 4: Evaluación Económica del Proyecto" 
      highlightText="Módulo 4:"
      description="Este módulo incluye herramientas en Excel para gestionar el presupuesto, costos y flujo de caja del proyecto. Se calculan indicadores como VPN, TIR y Payback para evaluar su viabilidad económica, y se elabora una oferta comercial clara que presenta la solución."
    />
    
    
  </main>
  <Footer />
</Layout> 
