---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';

---

<Layout title="Mep Mep Raiders - Módulo 5: Celdas de Manufactura Robotizadas" description="Explora el diseño y justificación de celdas robotizadas, incluyendo modelado en RobotStudio, análisis de riesgos y medidas de mitigación. Aprende a integrar la robotización en procesos industriales para mejorar la eficiencia y seguridad.">
  <Header />
  <main>
    <HeroSection 
      title="Módulo 5: Celdas de Manufactura Robotizadas" 
      highlightText="Módulo 5:"
      description={`Esta sección contiene los siguientes apartados:
      <ul style="margin-top: 1rem; list-style-type: disc; padding-left: 2rem;">
        <li>Análisis para justificar una robotización y el valor agregado del uso del robot en el proceso.</li>
        <li>Diseño preliminar conceptual de una celda robotizada considerando relación con espacio, flujo de producto, interacción con personal, seguridad funcional y agarre del robot; contenga una simulación de movimientos en la celda.</li>
        <li>Identificación preliminar de peligros y gestión del riesgo, análisis de riesgos inicial, medidas propuestas para mitigación del riesgo y evaluación de riesgos con las medidas aplicadas utilizando el método HNR.</li>
      </ul>`}
    />
    
  </main>
  <Footer />
</Layout> 
