---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Mep Mep Raiders - Módulo 6: Virtualización de Fábrica" description="Descubre cómo virtualizar tu fábrica con Siemens NX, integrando sensores y actuadores virtuales para simular el funcionamiento del prototipo. Aprende a modelar y configurar sistemas complejos de manera eficiente.">
  <Header />
  <main>
    <HeroSection 
      title="Módulo 6: Virtualización de Fábrica" 
      highlightText="Módulo 6:"
      description="Este módulo incluye un video en Siemens NX que muestra el modelado del prototipo, la configuración del sistema y la secuencia lógica de funcionamiento, integrando sensores y actuadores virtuales."
    />

    <section class="section bg-gray-50 dark:bg-gray-800/50 relative overflow-hidden py-12 md:py-16">
      <div class="container-custom">

        <div class="text-center max-w-3xl mx-auto mb-8 md:mb-16 px-4">
          <span class="inline-block px-4 py-1 rounded-full bg-primary-100 dark:bg-primary-900 text-primary-600 dark:text-primary-300 font-medium text-sm mb-4">
            Modulo 6
          </span>
          <h2 class="text-2xl md:text-3xl mb-4 md:mb-6 text-gray-900 dark:text-white">Virtualización de fábrica</h2>
          <p class="text-gray-600 dark:text-gray-300">
            Funcionamiento del prototipo en Siemens NX.
          </p>
        </div>

        <div class="rounded-lg overflow-hidden shadow-lg">
          <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
          padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
          border-radius: 8px; will-change: transform;">
            <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
              src="https://www.youtube.com/embed/DL603HhqcK8?start=2001" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              allowfullscreen="allowfullscreen" >
            </iframe>
          </div>
        </div>
      </div>
    </section>
    
    <section class="section bg-linear-to-br from-primary-600 to-primary-800 dark:from-primary-800 dark:to-primary-900 text-white py-12 md:py-16">
      <div class="container-custom">
        <div class="text-center max-w-3xl mx-auto mb-2 md:mb-16 px-4">
          <span class="inline-block px-4 py-1 rounded-full bg-primary-100 dark:bg-primary-900 text-primary-600 dark:text-primary-300 font-medium text-sm mb-4">
            Módulo 6
          </span>
          <h2 class="text-2xl md:text-3xl mb-4 md:mb-2 text-gray-900 dark:text-white">Links</h2>
          <p class="text-gray-600 dark:text-gray-300">
            Documentación y recursos del módulo.
          </p>
        </div>

        <div class="max-w-4xl mx-auto">
          <h2 class="text-2xl font-bold mb-4 mt-4">Ver documentación</h2>
          <a 
            href="https://github.com/APM-2025-1/M6_Virtualizacion_de_fabrica"
            target="_blank"
            rel="noopener"
            class="inline-block bg-info-200 dark:bg-info-300 text-info-800 dark:text-info-900 px-6 py-3 rounded-lg shadow hover:bg-info-400 dark:hover:bg-info-600 transition">
            Documentación del módulo en github
          </a>
      </div>
    </section>
  </main>
  <Footer />
</Layout> 
