---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Los4Automaticos - Módulo 6: Virtualización de Fábrica" description="Descubre cómo virtualizar tu fábrica con Siemens NX, integrando sensores y actuadores virtuales para simular el funcionamiento del prototipo. Aprende a modelar y configurar sistemas complejos de manera eficiente.">
  <Header />
  <main>
    <HeroSection 
      title="Módulo 6: Virtualización de Fábrica" 
      highlightText="Módulo 6:"
      description="Este módulo incluye un video en Siemens NX que muestra el modelado del prototipo, la configuración del sistema y la secuencia lógica de funcionamiento, integrando sensores y actuadores virtuales."
    />
  </main>
  <Footer />
</Layout> 
