---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Los4Automaticos - Módulo 7: Controladores Industriales" description="Explora el desglose del problema de control secuencial en operaciones, etapas, transiciones y modos, con su implementación mediante lógica programada usando Grafcet y Ladder.">
  <Header />
  <main>
    <HeroSection 
      title="Módulo 7: Controladores Industriales" 
      highlightText="Módulo 7:"
      description="Este módulo explica el desglose del problema de control secuencial en operaciones, etapas, transiciones y modos, con su implementación mediante lógica programada usando Grafcet y Ladder."
    />
  </main>
  <Footer />
</Layout> 
